html, body{
    margin: 0;
   
}
 body{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .mySlides{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }
